/* 3 rijen, header, main, footer
3 kolommen, zijruimte, main, zijruimte
Beginnen vanaf mobile opbouwen
Let ook op hoe tekst verspringt bij breder/smaller maken van scherm
Eén mediaquery op 50em 
MAAK ALLES ZO FLEXIBEL MOGELIJK*/

* {
    box-sizing: border-box;
}


body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background: lightgrey;
    margin: 0em;
    padding: 0em;
}

a {
    text-decoration: none;
    color: black;
}

strong {
    color: lightgrey;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
}

p {
    line-height: 1.5;
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    background: white;
    /* position: fixed; */
    width: 100%;
    /* opacity: 1; */
    box-shadow: .1em .1em 1em grey;
    align-items: center;
}

    .header ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
    }

.main {
    margin: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(480px, auto) repeat(5, 1fr);
    grid-template-areas:
    "websites"
    "featured"
    "top-stories"
    "special-edition"
    "most-recent"
    "highlight";
}

    .main h3 {
        text-transform: uppercase;
        font-size: 1em;
    }


.block {
    padding: 2em;
    display: flex;
}

.hero-content {
    grid-area: websites;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

    .hero-content h1{
        color: white;
        font-size: 2.5em;
    }

    .hero-content p{
        color: white;
    }

.featured {
    grid-area: featured;
    background: white;
}


.top-stories {
    grid-area: top-stories;
    background: white;
}

    .top-stories ol {
        color: lightgrey;
        
    }

.special-edition {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

    .special-edition h3{
        color: white;
        text-transform: none;
        font-size: 1.7em;
    }

    .special-edition p{
        color: white;
    }

.most-recent {
    grid-area: most-recent;
    background: white;
}

.stories {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 1.5em;
}

.highlight {
    grid-area: highlight;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

    .highlight p{
        color: white;
    }

.footer {
    display: flex;
    justify-content: center;
}

.footer strong{
    color: black;
    text-transform: unset;
    font-size: 1em;
}